@import "~@fortawesome/fontawesome-free/css/all.css"; /*import icons svg from fontawesome for all project */

/*responsive logo*/
.main-icon{
  background-image: url("../src/assets/img/main_logo.png");
  background-repeat: no-repeat;
  background-size:cover;
  height: border-box;
  width: border-box;
}
/*personalized background mockup color*/
.bg-white-opaque{
  background-color: #F0F4F8;
}
/*button green of mockup for all */
.btn-green {
  color: whitesmoke;
  background-color: #7bed8d;
  border: 0;
  border-radius: 50px;
  height: 50px;
  width: 100px;
  outline: none;
}
/*color green of mockup for all elements or txt no hover */
.txt-green {
  color: #7bed8d;
  text-decoration: none;
}
/*img size */
.img-size{
  padding: 0; /*padding all 0*/
  height:400px;
  width: 400px;
  border-radius: 0px 0px 0px 200px;
  position: relative;

}


